@use "../../../styles/colors.scss" as *;
@use "../../../styles/fonts.scss" as *;

.privacy-container {
  margin-top: 1rem;

  h5 {
    font-weight: 600;
    color: $primary;
  }

  .privacy-text {
    font-size: 1rem;
    max-height: 25rem;
    overflow-y: scroll;
    padding-right: 0.8em;

    li {
      list-style: disc;
    }
  }
}
