@use "../../../styles/colors.scss" as *;
@use "../../../styles/fonts.scss" as *;

// CustomSelect.module.scss
.dropdown {
  position: relative;
  display: inline-block;
  width: 15rem;
  padding: 0;

  color: $grey-700;

  .dropdownButton {
    color: $grey-700;
    text-align: left;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: $primary-extra-light;
    }

    &.active {
      border-color: $primary-medium;
      //box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom: transparent;
    }
  }

  .selectedOption {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .arrow {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    fill: #666;
    transition: transform 0.2s ease;
  }

  .optionsList {
    position: absolute;
    top: calc(75% + 4px);
    width: inherit;
    margin: 0;
    padding: 0;
    background-color: #e6e7f5;
    border: 1px solid #5055ba;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2000;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;

    .option {
      cursor: pointer;
      transition: background-color 0.2s ease, color 0.2s ease;
      padding: 0.3em 1em;
      border-radius: 0;

      &:hover,
      &.optionHovered {
        background-color: $primary-medium;
        color: $white;
        width: 100%;
      }
    }
  }
}
