@use "../styles/colors.scss" as *;
@use "../styles/fonts.scss" as *;

.primary-button {
  background-color: $primary;
  font-family: $font-family-general;
  margin: 1rem auto;
  
  border: none;
  color: $white;
  border-radius: 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $primary-medium;
  }

  a {
    color: $white;
  }
}
