@use "../styles/colors.scss" as *;
@use "../styles/fonts.scss" as *;

.primary-button {
  background-color: $primary;
  font-family: $font-family-general;
  margin: 0.75rem auto 0.5rem auto;
  padding: 0.625rem 2rem;
  border: none;
  border-radius: 0.75rem;
  font-size: 1.15rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $primary-medium;
  }

  a {
    color: $white;
  }
}
