.lr-container {
  display: flex;
  flex-direction: row;
  column-gap: 4rem;
  padding: 2rem 2rem 0;
  align-items: center;
  justify-content: center;
  color: blue;

  .left.box {
    flex: 1;
  }

  .right-box {
    flex: 2;
  }


img {
  max-width: 30rem;
}

.right-box {
  justify-items: center;
}
}