@import "../styles/colors.scss";
@import "../styles/fonts.scss";

.lr-container {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0 2rem;
  align-items: center;
  justify-content: center;
  max-height: fit-content;

  .left-box {
    width: 45%;
  }
  .right-box {
    justify-items: center;
    width: 55%;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
