@use "../styles/colors.scss" as *;
@use "../styles/fonts.scss" as *;

.footer {
  display: inline-block;
  background-color: $primary-medium;
  padding: 0;
  text-align: center;
  color: $white;
  font-size: 0.75rem;
  margin-top: 1.5rem;
  position: relative;
  bottom: 0;
  height: fit-content;
  width: 100vw;
  font-family: $font-family-general;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 1rem;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  li {
    margin-left: 1rem;

    a {
      color: $white;
      cursor: pointer;
      &:hover,
      &:focus {
        color: $grey-100;
      }
    }
  }
}
