:root {
  --primary: #050b8c;
  --primary-medium: #5055ba;
  --primary-light: #9b9ed7;
  --primary-extralight: #e6e7f5;
  --primary-dark: #03075e;
  --secondary: #9abf49;
  --secondary-medium: #6c8633;
  --secondary-light: #b8d280;
  --secondary-extralight: #e1ecc8;
  --secondary-dark: #3e4c1d;
  --red: #d10025;
}

/* Will update the above to match our universal styles using $variable format */

header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1000;
}

.flower-header-grid {
  display: grid;
  min-height: 0;
  margin-right: 1rem;
  padding: 0.8rem 1.2rem 1rem;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "logo heaven none"
    "logo leaves none"
    ". plant-stem blossom";
}

.logo {
  grid-area: logo;
  margin-right: -3rem;

  img {
    width: 10rem;
  }
}

.heaven-stripe {
  grid-area: heaven;
  height: 2.5rem;
  margin: 0 1rem 1rem 8rem;
  border-radius: 1.2rem;
  background-color: var(--primary-medium);
  opacity: 70%;
  box-shadow: 0 0 6px 3px var(--primary-medium);
}

.plant-stem {
  grid-area: plant-stem;
  background-color: var(--secondary-medium);
  height: 0.5rem;
}

.leaves {
  grid-area: leaves;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 2.6rem 0 auto;

  .single {
    display: grid;
    grid-template-columns: 1fr 3fr 4fr;
    grid-template-rows: 3rem 1.5rem;
    justify-content: center;
    margin-top: -1.5rem;

    a {
      font-weight: 500;
      color: #fff;
      text-decoration: inherit;

      &:hover {
        font-weight: 600;
      }
    }

    // &:hover {
    //   cursor: pointer;

    //   .leaf-surface {
    //     background-color: var(--secondary-medium);
    //     box-shadow: inset 0 0 0.8rem 4px var(--secondary-light);
    //   }
    //   .leaf-stem {
    // border-right: solid var(--secondary-medium) 0.5rem;
    // opacity: 80%;
    //   }
    // }

    // **************The above code, when &:focus is added to it, &:focus does not work!*******

    .leaf-surface {
      grid-column: 2 / 4;
      grid-row: 1 / 2;
      position: relative;
      top: 0.2rem;
      right: 0.6rem;
      background-color: var(--secondary);
      border-radius: 50%;
      transform: rotate(-20deg);
      align-content: center;
      z-index: 100;
      transition: background-color 250ms ease-in-out;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: auto;
      }

      &:hover,
      &:focus {
        background-color: var(--secondary-medium);
        box-shadow: inset 0 0 0.8rem 4px var(--secondary-light);
      }
    }

    .leaf-stem {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      position: relative;
      left: 0.1rem;
      width: 0.5rem;
      justify-self: end;
      border-right: solid var(--secondary) 0.5rem;
      transition: all 250ms ease-in-out;

      &:hover,
      &:focus {
        border-right: solid var(--secondary-medium) 0.5rem;
        opacity: 80%;
      }
    }
  }
}

.blossom {
  grid-area: blossom;
  display: grid;
  grid-template-rows: repeat(3, 1.5rem);
  width: 3.2rem;
  align-content: end;
  margin-top: -2rem;

  .b-1,
  .b-2,
  .b-3 {
    border-radius: 50%;
    background-color: #b92167;
  }

  .b-1 {
    transform: rotate(-40deg);
    margin-left: -10px;
    margin-top: 5px;
  }

  .b-3 {
    transform: rotate(40deg);
    margin-left: -10px;
    margin-bottom: 5px;
  }
}

#header-mobile {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .logo {
    margin-right: -2rem;

    img {
      width: 7rem;
    }
  }

  .heaven-stripe {
    margin-left: 4rem;
    margin-right: 0;
  }
  .leaves {
    margin: 0 1rem 0 2rem;

    li {
      margin-left: 0.2rem;
    }

    .single .leaf-stem {
      left: 0.2rem;
    }
  }
}

@media only screen and (max-width: 810px) {
  #header-mobile {
    display: block;
  }

  #header-desktop {
    display: none;
  }
}
