@use "./styles/colors.scss" as *;
@use "./styles/fonts.scss" as *;

.home {
  display: flex;
  flex-direction: column;
}

.home-text {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.home-list {
  li {
    margin-left: 1rem;
    cursor: default;
    list-style: none;
    color: $primary-dark;
  }
}
