@use "../styles/colors.scss" as *;
@use "../styles/fonts.scss" as *;

.home-text {
  display: flex;
  flex-direction: column;
}

.home-list {
  li {
    margin-left: 1rem;
    cursor: default;
    list-style: none;
  }
}
