@use "../../../styles/colors.scss" as *;
@use "../../../styles/fonts.scss" as *;

.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    text-align: center;
    font-size: 1remq;
  }
  a {
    color: $primary;
    font-weight: bold;
    transition: all 100ms ease-in-out;
    &:hover {
      color: $secondary-medium;
    }
  }
}