// Primary colors - blues

$primary: #050b8c;
$primary-light: #9b9ed7;
$primary-extra-light: #e6e7f5;
$primary-medium: #5055ba;
$primary-dark: #03075e;

// Secondary colors - greens

$secondary: #9abf49;
$secondary-light: #b8d280;
$secondary-extra-light: #e1ecc8;
$secondary-medium: #6c8633;
$secondary-dark: #3e4c1d;

// Beige tints

$beige: #fdfad9;
$beige-light: #fefdec;
$beige-medium: #cac8ae;
$beige-dark: #989682;

// Alert reds

$red: #d10025;
$red-light: #ed99a8;
$red-dark: #7d0016;

// Grey tints

$grey-50: #d2d1d5;
$grey-100: #a4a2aa;
$grey-300: #6d6a76;
$grey-500: #484554;
$grey-700: #2b2932;

// White

$white: #ffffff;
