// Title font
$font-family-title: "Knewave", "Brush Script MT", cursive;

// Page title font

$font-family-page-title: "Caveat", "Comic Sans MS", cursive;

// General font

$font-family-general: "Manrope", Verdana, sans-serif;

.bold {
  font-weight: bold;
}
