@import "../styles/colors.scss";
@import "../styles/fonts.scss";

body,
html {
  margin: 0;
  padding: 0;
}

.content-container {
  display: grid;
  grid-template-columns: 1fr 1fr 10fr 1fr 3fr;
  grid-template-rows: repeat(3);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  color: $white;

  div {
    border-radius: 30px;
    padding: 1rem 1.8rem;
  }

  .green-box {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-color: $secondary;
    font-family: $font-family-title;
    font-size: 3rem;
    z-index: 100;
    padding-bottom: 1.5rem;
    line-height: 3.3rem;
  }

  .blue-box {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    background-color: $primary-medium;
    font-family: $font-family-page-title;
    font-size: 2.6rem;
    margin-top: -2rem;
    z-index: 60;
    padding-top: 2.8rem;
    padding-bottom: 1.4rem;
    line-height: 2.4rem;
  }

  .text-box {
    grid-column: 3 / 6;
    grid-row: 3 / 4;
    border: 2px solid $primary-medium;
    font-family: $font-family-general;
    color: $grey-700;
    font-size: 1rem;
    z-index: 10;
    margin-top: -2rem;
    z-index: 50;
    padding-top: 2rem;
  }
}
