@use "./styles/colors.scss" as *;
@use "./styles/fonts.scss" as *;

@media only screen and (min-width: 810px) {
  #root {
    max-width: 2100px;
    width: 100%;
    margin: 0 auto;
    min-height: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    // grid-template-columns: 100vw;   //This was causing horizontal scroll bar!
    grid-template-areas:
      "header"
      "content"
      "footer";
    min-height: 100vh;
  }

  .content {
    grid-area: content;
    min-height: 0;
    // width: 100%;
  }

  .navbarFlower {
    display: none;
  }
}

.foot {
  grid-area: footer;
  align-self: end;
  max-height: fit-content;
  width: 100%;
}

header {
  font-family: $font-family-general;
  color: #fff;
}

@media only screen and (max-width: 810px) {
  #root {
    display: grid;
    grid-template-columns: 110px auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "mobile-header mobile-header"
      "vertical-content vertical-content"
      "mobile-footer mobile-footer";
    min-height: 100vh;
  }

  .head {
    grid-area: mobile-header;
    position: sticky;
    top: 0;
    z-index: 500;
    width: inherit;
  }

  .content {
    grid-area: vertical-content;
    min-height: 0;
    // width: 100%;
  }

  .foot {
    grid-area: mobile-footer;
    align-self: end;
    // width: 100%;
  }
}
