@use "./styles/colors.scss" as *;
@use "./styles/fonts.scss" as *;
@use "./custom.scss" as *;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.head {
  position: sticky;
  top: 0;
  z-index: 500;
}

@media only screen and (min-width: 810px) {
  #root {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header"
      "content"
      "footer";
    height: 100vh;
  }

  .content {
    grid-area: content;
    align-content: center;
  }

  .navbarFlower {
    display: none;
  }
}

.foot {
  grid-area: footer;
  align-self: end;
  height: fit-content;
  width: 100%;
  font-family: $font-family-general;
}

header {
  font-family: $font-family-general;
  color: #fff;
}

@media only screen and (max-width: 810px) {
  #root {
    display: grid;
    grid-template-columns: 110px auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "mobile-header mobile-header"
      "vertical-content vertical-content"
      "mobile-footer mobile-footer";
    min-height: 100vh;
  }

  .head {
    grid-area: mobile-header;
    position: sticky;
    top: 0;
    z-index: 500;
    width: inherit;
  }

  .content {
    grid-area: vertical-content;
    min-height: 0;
  }

  .foot {
    grid-area: mobile-footer;
    align-self: end;
  }
}
