.dashboard {
  display: flex;
  justify-content: center;
  margin: 0rem 2rem 2rem;
  .colorContainer {
    align-items: center;
  }
  .dashboard-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .stats {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
      gap: 1rem;

      .stat-item {
        background-color: #f0f0f0;
        padding: 1rem;
        border-radius: 8px;
        text-align: center;
        place-content: center;
        height: 15rem;

        h4 {
          margin-bottom: 0.5rem;
        }

        p {
          font-size: 1.5rem;
          font-weight: bold;
        }
        .dashboard-img {
          height: 5rem;
          width: auto;
        }
      }
    }

    .actions {
      display: flex;
      gap: 1rem;
    }
  }
}

@media only screen and (max-width: 810px) {
  .dashboard {
    margin-top: 2rem;
    .dashboard-content {
      .stats {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
