@use "../../../styles/colors.scss" as *;
@use "../../../styles/fonts.scss" as *;

.primary-button {
  background-color: $primary;
  box-shadow: rgb(80, 85, 186, 0.5) 0px 3px 8px;
  font-family: $font-family-general;
  letter-spacing: 1px;
  margin: 1rem auto;
  padding: 0.6em 1.2em;
  border: none;
  color: $white;
  border-radius: 0.75rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 600;

  &:hover {
    background-color: $secondary;
    text-shadow: $secondary-medium 0 0 25px;
    box-shadow: rgb(154, 191, 73, 0.7) 0px 3px 8px;
  }
}
