@use "../../../styles/colors.scss" as *;
@use "../../../styles/fonts.scss" as *;

.lrContainer {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 2rem 2rem 2rem;
  justify-content: space-evenly;
  align-items: center;
  width: 90vw;

  .leftBox {
    flex-grow: 1;
    max-width: 40vw;
  }

  .rightBox {
    flex-grow: 4;
    max-width: 50vw;
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 850px) {
  .lrContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1em;
    padding: 0 2rem;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 810px) {
  .lrContainer {
    padding: 0;
  }
  .leftBox {
    display: none;
  }
  .rightBox {
    margin: 1.5rem 0;
    min-height: 70vh;
  }
}
