@use "../../../styles/colors.scss" as *;
@use "../../../styles/fonts.scss" as *;

.lrContainer {
  position: relative;
  display: flex;
  // flex-wrap: nowrap;
  margin: 0 2rem 4rem 2rem;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (max-width: 950px) {
  .lrContainer {
    flex-direction: column;
    flex: 1 1;
    row-gap: 1em;
    padding: 0 2rem;
    justify-content: center;
  }

  .leftBox {
    img {
      max-width: 40rem;
    }
  }

  .rightBox {
    margin-top: -1.3rem;
  }
}

@media only screen and (max-width: 810px) {
  .lrContainer {
    padding: 0;
    margin: 2rem 4rem 4rem;
  }
  .rightBox {
    margin: 1.5rem 0;
    min-height: 70vh;
  }
}

@media only screen and (max-width: 600px) {
  .lrContainer {

  }
  .rightBox {

  }
}
