@use '../../../styles/variables' as *;

.container {
  width: 100%;
}

.switchMode {
  text-align: center;
  margin-top: $spacing-4;

  button {
    background: none;
    border: none;
    color: $primary-color;
    font-size: $text-sm;
    cursor: pointer;

    &:hover {
      color: $primary-hover;
    }
  }
}