@use "../../../styles/colors.scss" as *;
@use "../../../styles/fonts.scss" as *;

.messages {
  height: auto;
  max-height: 30rem;
  width: 100%;
  overflow-y: auto;
  padding: 0rem !important;
  .message {
    display: flex;
    align-items: flex-start;
    padding: 1rem 0rem !important;
  }

  .plantyMessage {
    justify-content: flex-start;
    p {
      background-color: $primary-light;
    }
  }

  .userMessage {
    justify-content: flex-end;
    margin-right: 1rem;
  }

  .message p {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    max-width: 70%;
    font-size: 1.15rem;
  }

  .userMessage p {
    background-color: $secondary-light;
  }
}

.plantyImage {
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
}

.inputContainer {
  display: flex;
  width: 100%;
  height: 5rem;
  margin-top: 1rem;
  input {
    flex: 1;
    border: 1px solid $beige-dark;
    border-radius: 20px;
    margin-right: 0.5rem;
    font-size: 1rem;
    padding: 0rem 1rem;
    width: 100%;
  }
  button {
    margin: 0;
    height: 4rem;
    align-self: center;
  }
}

@media only screen and (max-width: 600px) {
  .messages {
    .message p {
      font-size: 1rem;
    }
  }
}

@media only screen and (max-width: 400px) {
  .inputContainer {
    height: 3rem;
    button {
      margin: 0;
      height: 3rem;
      align-self: center;
    }
  }
}
