@use "../../../styles/colors.scss" as *;
@use "../../../styles/fonts.scss" as *;

.contact-us-container {
  margin-top: 1rem;
  width: 100%;

  .contact-us-text {
    font-size: 1rem;
    max-height: 38rem;
    padding-right: 0.8em;
    height: auto;
    width: 100%;
  }

  h5 {
    font-weight: 700;
    color: $primary;
    margin-bottom: 1rem;
  }
  .contact-us-list {
    margin: 1rem 0;

    li {
      list-style-image: url("../../../images/Leaf_small.png");
      margin-left: 1rem;
      margin-bottom: 1.2rem;
    }
  }
  .email {
    margin-left: 1rem;
  }
}
