@use "../../../styles/colors.scss" as *;
@use "../../../styles/fonts.scss" as *;

.contact-us-container {
  h5 {
    font-weight: bold;
    color: $primary-dark;
    margin-bottom: 1rem;
  }
  .contact-us-list {
    margin: 1rem 0;
    li {
      list-style-image: url("../../../images/Leaf_small.png");
      margin-left: 1rem;
      margin-bottom: 1rem;
      color: $primary-dark;
      &:hover {
        color: $secondary;
      }
    }
  }
  .email {
    font-weight: bold;
    margin-left: 1rem;
  }
}
