@use "../../../styles/colors.scss" as *;
@use "../../../styles/fonts.scss" as *;

.imprint-container {
  h5 {
    font-weight: bold;
    color: $primary-dark;
    margin-bottom: 1rem;
  }
  .imprint-text {
    font-size: 1rem;
  }
}
