@use "../../../styles/colors.scss" as *;
@use "../../../styles/fonts.scss" as *;

.imprint-container {
  margin: 1rem 1rem 0;
  font-size: 1rem;
  max-height: 25rem;
  overflow-y: scroll;
  padding-right: 0.8em;

  h5 {
    font-weight: 600;
    color: $primary;
  }

  p {
    margin-bottom: 1.3rem;
  }
}
