@use "../../../styles/colors.scss" as *;
@use "../../../styles/fonts.scss" as *;

.imprint-container {
  margin: 1rem 1rem 0;

  .imprint-text {
    font-size: 1rem;
    max-height: 38rem;
    overflow-y: scroll;
    padding-right: 0.8em;
    height: auto;
  }
  h5 {
    font-weight: 600;
    color: $primary;
  }

  p {
    margin-bottom: 1.3rem;
  }
}
