@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

li {
  margin-left: 1rem;
  cursor: default;
  list-style: none;
  color: $primary-dark;
}

.home-text {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
