@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

h2 {
  color: $primary-medium;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.link {
  color: $primary-medium;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: $secondary;
  }
}

.sign-up-suggestion {
  margin-top: -1rem;
  ;
}
