@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.link {
  color: $primary-medium;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: $secondary;
  }
}

.sign-up-suggestion {
  margin: 0.5rem 0rem 0.25rem 0rem;
}
