@use "../../styles/colors.scss" as *;
@use "../../styles/fonts.scss" as *;

.messages {
  width: 35rem;
  height: 15rem;
  background-color: $beige-light;
  margin: 1rem;
}

.input-questions {
  width: 35rem;
  height: 2rem;
  border: 2px solid $primary;
  border-radius: 20px;
  padding: 0rem 1rem;
}
